// CDN
// $cdn-path: "https://taobbmx-srbzyiwhl7otecu.stackpathdns.com";
$cdn-path: "";

// viewport
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// COLORS
$primary-purple: #656574;
$secondary-darkblue: #3d5a7a;
$secondary-lightblue: #5681b1;
$darkred: #833428;
$darkbrown: #3b3939;
$offblack: #262626;

// FONTS
$primary-txt-font-family: "Oxygen";
$feature-txt-font-family: "Raleway";

// MISC
$master-border-3px: 3px;
